<%= form_for(@charityusersquare) do |f| %>
  <% if @charityusersquare.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@charityusersquare.errors.count, "error") %> prohibited this charityusersquare from being saved:</h2>
      <ul>
      <% @charityusersquare.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">

    <%= f.label :charitytype %><br>
    <%= f.select :charitytype, ["Lottery","Raffles","Bets","Appeals","Auctions", "Bid"] %>
  
  </div>

  <div class="field " >
  <%= f.label "Days Left" %><br>
  <%= f.text_field :daysleft %>
  </div>

  <div class="field charityusersquare_price" style="display:none">
  <%= f.label "amount" %><br>
  <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :material %><br>
    <%= f.text_field :material %>
  </div>
  
    <div class="field">
    <%= f.label :Description %><br>
    <%= f.text_field :description %>
  </div -->

   <div class="field"> 
    <%= f.label :Condition %><br>
    <%= f.select :condition, ["New","Used","Not specified"] %>
 
 </div> 
 
  <div class="field">
    <%= f.label :Types %><br>
    <%= f.text_field :types %>
  </div>
   <div class="field"> 
    <%= f.label :Color %>
    <%= f.text_field :color %>
   </div> 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script>
// $( '#charity_media' )
//   .submit( function( e ) {
//     $.ajax( {
//       url: $(this).attr('action'),
//       type: 'POST',
//       data: new FormData( this ),
//       processData: false,
//       contentType: false
//     } );
//     e.preventDefault();
//   } );

$(document).ready(function(){

$('#charityusersquare_charitytype').on('change', function() {
 var value=  this.value
 console.log(value)
 if(value == "Appeals" || value== "Auctions" || value == "Raffles")
  { 
    $(".charityusersquare_price").fadeIn("slow");
}else{
    $(".charityusersquare_price").fadeOut("slow");
}

 
})
});
</script>
