<div class="off-canvas-wrap docs-wrap" data-offcanvas="">
  <div class="inner-wrap">
    <%= render 'layouts/header' %>
      <div class="inner_grey_bg">
        <div class='row'>
          <div class="create_squar_bet  create_squar left">
            <% if notice %>
              <p class="alert alert-success"><%= notice %></p>
            <% end %>
            <% if alert %>
              <div data-alert class="alert-box success radius">
                <%= alert %>
                <a href="#" class="close">&times;</a>
              </div>
            <% end %>

            <div class="select_type">
              <div class="small-12 columns">
                <h1>Enter Details for your Appeal</h1>
              </div>
              <div class='field large-6 columns select_square'>
                <!-- <label>Select Square type</label>
                <select name="mydropdown">
                  <option value="lottery">Lottery</option>
                  <option value="bet">Bet</option>
                  <option value="appeal">Appeal</option>
                  <option value="auction">Auction</option>
                  <option value="bid">Bid</option>
                  <option value="raffles">Raffles</option>
                </select> -->
              </div>
            </div>

            <div class='appeal'>
              <%= form_for(@appeal, :url =>  appeals_create_path, :html => { :multipart => true ,:novalidate=>"novalidate"} )  do |f| %>
                <div class="images_url row">
                </div> 

                <div id="errorExplanation">
                  <%= flash["error"] %>
                </div>

                <!-- <div class='field large-6 columns'> -->
                <!-- <label>Select Square type</label> -->
                 <%#= f.select :charitytype, ["Lottery","Raffles","Bets","Appeals","Auctions", "Bid"] %>
                <!-- </div> -->

                <div class="hide">
                  <%=f.number_field :user_id , :value=>current_user.id %>
                </div>

                <% if !@list.nil? %>
                  <div class='field large-6 columns'>
                    <%= f.label "Select a charity" %>
                    <%= f.select :charityusersquare_id , @list %>
                  </div>
                <% end %>  

                <!--<div class="field large-6 columns">
                  <%#= f.label "Name" %>
                  <%#= f.text_field :name %>
                </div> -->
                <%= f.hidden_field :charitytype, :value => params[:charitytype]%>

                <div class="field large-12 columns form-group"> 
                  <%= f.label "Description" %>
                  <%= f.text_area :description,:placeholder => "Enter description" %>
                </div>

                <div class='field large-6 columns'>
                  <%= f.label "Type" %> 
                  <%#binding.pry%>
                  <%= f.select :appeal_type, options_for_select(["Select Square", "General", "Specific"], :selected => params[:appeal_type]) %>
                  <%#= f.select(:appeal_type, ["General", "Specific"], {:prompt => "appeal_type"}, :onchange => "location.href = '#{request.url}'")%>
                </div>

                <div class="field large-6 columns">
                  <%= f.label "Ending date" %>
                  <%= f.text_field :enddate ,{:class => 'datetimepicker', :placeholder => 'Appeal end date ',:required => true            } %>
                </div>

                <div class='field large-6 columns specific'>
                  <%= f.label :specific_appeal_description, "Appeal Description" %>
                  <%= f.text_field :specific_appeal_description %>
                </div>

                <div class="create_squar_upload_image left">
                  <div class="large-3 medium-4 small-12 columns">
                     <div id="holder"></div> 
                     <label> Add Photos </label>
                      <div class="upload_image_squar text-center">
                        <p>Click here or <br> drag &amp; drop</p>
                        <input id="file" name="appeal[logo]" type="file" required>
                      </div>
                  </div>
                  <div class="large-9 medium-8 small-12 columns">
                    <label>Delete or rearrange your images</label>
                    <div class="upload-preview"></div>
                  </div>    
                </div>   

                <div class="field bottom_ceate_bet_btn large-12 columns">
                  <%= f.submit "Create Appeal " , :class=>'button success left' %>
                </div>

              <% end %>
            </div>

        </div>
      </div>
  </div>
</div>
<%= render 'layouts/footer' %>    


<script>
$(document).ready(function(){
  // alert("on load");
  
$(".upload-preview").sortable({
    placeholder: "ui-state-highlight",
    helper: 'clone',
    sort: function(e, ui) {
        //$(ui.placeholder).html(Number($("#sortable_nav > li:visible").index(ui.placeholder)) + 1);
    },
    update: function(event, ui) {
        var $lis = $(this).children('div');
        $lis.each(function() {
            var $li = $(this);
            var newVal = $(this).index() + 1;
            $(this).attr("val",newVal);
            $(this).children('#item_display_order').val(newVal);
        });
    }
});
$(".upload-preview").disableSelection();
$('.th').click(function(){
 var id= $(this).attr('id');
 $('.'+id).fadeIn(); 
})

$('.datetimepicker').datetimepicker();


/* validations for the form  */
$('.button.success').click(function(e){
  
   
        //e.preventDefault();

            //form validation rules
            $("#new_appeal").validate({
                rules: {
                    'appeal[description]': "required"
                },
                messages: {
                    'appeal[description]': "Please enter description *"
                },
                submitHandler: function(form) {
                    console.log('submit');
                    form.submit();
                }
            });


})

  $('#appeal_appeal_type').change(function() {
      location.reload();
  });  
  if ($("#appeal_appeal_type :selected").text() == "Specific")
  {
    $(".specific").show();

  }
  else {
    $(".specific").hide();
  }
 
  });
/* end */

</script>

<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>

<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
<style>
  button.success, .button.success {
    background-color: #43ac6a;
    border-color: #368a55;
    color: #ffffff;
    margin: 19px 19px 19px 0;
  }
  /* Error container for form C */

        #error-container div {
            color: red;
            line-height: 140%;
        }

        #error-container div:last-child {
            padding-bottom: 10px;
        }
        h1{
          font-family: "dinmedium";
        }
</style>
