<%= render 'layouts/navigation' %>
<br/>
<%= link_to "Create Square", new_charityusersquare_path, :class => "button tiny radius", :style => "float:right;" %>
<%= link_to "Create Child", new_charitychild_path, :class => "button tiny radius", :style => "margin-left:750px;width:110px;" %>
<h3>My Squares</h3>
<% unless @charity.nil? %>
  <% @charity.each do |c| %>
    <a href=<%="/charityusersquares/#{c.id}"%>>
      <div class="pricing-table medium-4 columns">
        <div class="panel callout radius">
          <li>Types: <%= c.name %></li>
          <li>Brand: <%= c.types %></li>
          <li>Condition: <%= c.material %></li>
        </div> 
        <li class="title"><%= c.charitytype %></li>
      </div>
    </a> 
  <% end %>  
<% end %>




<%= render 'layouts/footer' %>

<style>
	.pricing-table {
	    text-align : center;
	    margin-top: 40px;
	    margin-right:15px;
	    width: 28%;
	} 
</style>

