    <div class="off-canvas-wrap docs-wrap" data-offcanvas="">
      <div class="inner-wrap">

        <%= render 'layouts/header'%>
        <%= render 'layouts/right_canvas' %>
        <a class="exit-off-canvas"></a>

        <!--descover hover div -->
        <div class="descover_hover left">
          <div class="large-6 medium-6 small-12 columns">
            <ul class="descover_hover_filter left">
              <li class="all_descover_hover">
                <a href="#">All</a>
              </li>
              <li>
                <a href="#"></a>
              </li>
              <li>
                <a href="#"></a>
              </li>
              <li>
                <a href="#"></a>
              </li>
              <li>
                <a href="#"></a>
              </li>
              <li>
                <a href="#"></a>
              </li>
            </ul>
          </div>
          <div class="large-6 medium-6 small-6 columns">
            <div class="descover_right_text_show left">
              <h1>Appeals</h1>
              <p>Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit. Cras egestas laoreet justo <br>et eleifend. </p>
            </div>
          </div>
        </div>

        <section class="filter_banner">
            <div class="row">
              <div class="welcome_charity_section left">
                <div class="large-12 column">
                  <div class="welcome_charity_squre left">       
                     <span class="my_squre_charity_img left" style="background-image:url('/images/profile/<%=current_user.profile_image%>');background-size:cover;"></span>

                    <h1>Welcome back Charity.</h1>
                  </div>
                  <div class="welcome_back_charity_listing_main left">
                    <ul class="welcome_back_charity_listing left">
                      <li>
                        Donations: <span class="blue_color">£200,000</span> 
                      </li>
                      <li>
                        Feedback: <span class="blue_color">100%</span> 
                      </li>
                      <li>
                         Followers:  <span class="blue_color">304</span> 
                      </li>
                    </ul>
                    <div class="welcome_back_charity_right right">
                      <input class="left" type="text" value="create child account" id="child_btn">
                      <%#= link_to "create child account", new_charitychild_path, :class=>"left" %>
                      <select class="left">
                        <option>download donation list</option>
                        <option></option>
                        <option></option>
                      </select>
                    </div>
                  </div> 
                  <ul class="my_squre_nav_list left">
                    <li>
                      <a href="/profile">my profile </a>
                    </li>
                    <li >
                      <a href="/my_square">my squares</a>
                    </li>
                    <li>
                      <a href="/purchase">manage purchases </a>
                    </li>
                    <li>
                      <a href="/account_settings">account settings </a>
                    </li>
                    <li>
                      <a href="/conversations">messages</a>
                    </li>
                    <li>
                      <a href="/charitychildren">child accounts </a>
                    </li>
                    <li>
                      <a href="#">statisticst</a>
                    </li>
                  </ul> 
                </div>
              </div>  
            </div>  
        </section>
        
        <section class="inner_grey_bg">
          <div class="filter_section my_squre_filter left">
            <div class="row">
              <div class="large-12 medium-12 small-12 columns">
                <ul class="filter_list left">
                  <li>
                    <a href="#" class="active">All</a>
                  </li>
                  <li>
                    <a href="#"></a>
                    <span class="tooltip_filter">Appeals</span>
                  </li>
                  <li>
                    <a href="#"></a>
                    <span class="tooltip_filter">Auctions</span>
                  </li>
                  <li>
                    <a href="#"></a>
                    <span class="tooltip_filter">Buy </span>
                  </li>
                  <li>
                    <a href="#"></a>
                    <span class="tooltip_filter">Raffles &amp; L</span>
                  </li>
                  <li>
                    <a href="#"></a>
                    <span class="tooltip_filter">Celebrity bets</span>
                  </li>
                </ul>
              </div>
            </div> 
          </div>
          <div class="row">
            <div class="large-12 columns">
              <div class="search_result_most_relevant mysqure_butns left">
                <button class="button dropdown right" aria-expanded="false" aria-controls="drop2" data-dropdown="drop2" href="#">most relevant</button>
                <ul aria-hidden="true" class="f-dropdown" data-dropdown-content="" id="drop2" style="position: absolute; left: -99999px; top: 188px;">
                  <li><a href="#">This is a link</a></li>
                  <li><a href="#">This is another</a></li>
                  <li><a href="#">Yet another</a></li>
                </ul>
                <button class="button dropdown right" aria-expanded="false" aria-controls="drop3" data-dropdown="drop3" href="#">last 60 days</button>
                <ul aria-hidden="true" class="f-dropdown" data-dropdown-content="" id="drop3" style="position: absolute; left: -99999px; top: 188px;">
                  <li><a href="#">This is a link</a></li>
                  <li><a href="#">This is another</a></li>
                  <li><a href="#">Yet another</a></li>
                </ul>
              </div>
            </div>

            <div class="my_squre_feed left">
             <% @my_square.each do |s| %>
              <div class="large-4 medium-6 small-12 columns">
                <div class="charity_feed_box left">
                  <div class="charity_box_img left">
                   <% if s.charitytype == "appeals" || s.charitytype == "appeal" %>
                     <div class="feedback_pending">
                       <span class="text_white left">Appeal</span>
                       <%= link_to "Donations", view_donations_path(:id=>s.id) , :class => "review right", :style=>"width:121px;" %>
                       <!-- <a class="review right" href="#">review</a> -->
                     </div>
                   <% else %>
                    <% if s.active==true %>
                    <% if BetResult.find_by_bet_id(s.id).present? %>
                      <div class="pending_squre">
                        <span class="text_white left">Bet Completed</span>
                        <%= link_to "View Results", bet_result1_path(:id=>s.id) , :class => "review right", :style=>"width:121px;" %>
                      </div>
                    <%else%>
                    <div class="requires_completing c<%=s.id%>">
                      <%#= form_tag bet_result_path(:id=>s.id), method: :post, :remote => true do %>

                        <span class="text_white left">Bet in Progress</span>
                        <!-- <span class="radio_align"> -->
                          <%#= radio_button_tag "response", "yes", :checked => true %>
                          <%#= label_tag "yes" %>
                          <%#= radio_button_tag "response", "no" %>
                          <%#= label_tag "no" %>
                          <%#= hidden_field_tag "bet_id", s.id %>
                        <!-- </span> -->
                        <a class="review right" href="#">Bet</a>
                          <%#= submit_tag "Submit", :class => "review right" %>
                      <%# end %>
                    </div>
                    <%end%>
                    <% else %>
                      <div class="pending_squre">
                      <span class="text_white left">Bet Completed</span>
                       <%= link_to "View Results", bet_result1_path(:id=>s.id) , :class => "review right", :style=>"width:121px;" %>
                      </div>
                    <%end%>

                    <% end %>

                      <% @cmedia = CharityMedia.where(:charityusersquare_id => s.id)%>
                     <%if !@cmedia.blank?%>                    
                      <img src="/images/<%=@cmedia.first.picture%>.jpg">
                       <%end%>

                       <div class="betresult_link">
                       <span class="text_white left">Bet Result Set</span>
                        <%= link_to "View Results", "javascript:void(0)" , :class => "review right", :style=>"width:121px;" %>
                       </div>
<!-- 
                    <div class="feedback_pending">
                      <span class="text_white left">Feedback pending</span>
                      <a class="review right" href="#">review</a>
                    </div>

                    <div class="requires_completing">
                      <span class="text_white left">Requires completing</span>
                      <a class="edit right" href="#">edit</a>
                    </div>

                    <div class="goal_achieved">
                      <span class="text_white left">Goal achieved!</span>
                      <a class="review right" href="#">review</a>
                    </div>

                    <div class="feedback_pending">
                      <span class="text_white left">Delivery management</span>
                      <a class="review right" href="#">review</a>
                    </div> -->

                  </div>
                  <div class="charity_feed_box_contant left">
                    <h1><%= s.description.first(30) %></h1>
                    <span class="charity_feed_box_contant_user">
                      by <%= User.find_by_id(s.user_id).firstname %>
                    </span>
                    <div class="charity_feed_box_user_detail left">
                      <span class="about_square_page_user_img_thumb left" style="background-image:url('/images/profile/<%= current_user.profile_image %>');background-size:cover;">
                     </span>

                      <span class="charity_feed_box_time left">
                       <% start_time = Time.now.in_time_zone(@tz).to_s %>
                       <% end_time   = s.enddate.in_time_zone(@tz).to_s %>
                       <% if start_time > end_time %>
                        Time left <br><span class="charity_feed_box_day"><%#= s.enddate %>Time Over</span>
                      <% else %> 
                         Time left <br><span class="charity_feed_box_day"><%#= s.enddate %><%= distance_of_time_in_words(end_time, start_time)  %></span>
                      <% end %>
                       
                      </span>
                      <% if s.charitytype == "bet" %>
                      <span class="charity_feed_box_ticket_price left">
                        price <br><span class="charity_feed_box_price">£<%= s.amount %></span>
                      </span>
                      <% end %>

                      <span class="charity_feed_box_play_lottery my_squre_view_edit right">
                      <% if s.charitytype == "appeals" || s.charitytype == "appeal" %>
                        <%= link_to "View", appeals_show_url(:id => s.id, :user_id => current_user.id) %><br>
                      <% else %>
                        <%= link_to "View", bets_show_url(:id => s.id, :user_id => current_user.id) %><br>
                      <% end %>

                        <% if s.charitytype == "appeals" || s.charitytype == "appeal" %>
                          <a href=<%="#{s.charitytype.singularize}/#{s.id}/edit"%> title="Edit">Edit</a>
                        <% else %>
                          <a href=<%="#{s.charitytype.pluralize}/#{s.id}/edit"%> title="Edit">Edit</a>
                        <% end %>  

                      </span>
                    </div>
                  </div>
                </div>
              </div>
             <% end %>
            </div>
            <ul class="my_squre_pagination text-center">
              <li>
                <a class="" href="#"><%= will_paginate @my_square %></a>
              </li>
            </ul>  
            
          </div>
        <%= render "layouts/footer" %>       
      </div>
    </div>

<script type= "text/javascript">
  $("#child_btn").click(function(){
    window.location.href = '/charitychildren/new';
    return false;
  });
</script>

<style>
  input#child_btn.left {
    height: 30.5px !important;
  }

  .radio_align {
    margin-top: -3px;
    padding: 17px;
    position: absolute;  
  } 

  label {
    color: #ffffff;
  }
</style>
