<h1>Listing charitychildren</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Active</th>
      <th>Parent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% unless @charitychildren.nil? %>
    <% @charitychildren.each do |charitychildren| %>
      <tr>
        <td><%= charitychildren.name %></td>
        <td><%= charitychildren.email %></td>
        <td><%= charitychildren.address %></td>
        <td><%= charitychildren.active %></td>
        <td><%= User.find(charitychildren.user_id).email %></td>
        <td><%= link_to 'Show', charitychildren %></td>
        <td><%= link_to 'Edit', edit_charitychild_path(charitychildren) %></td>
        <td><%= link_to 'Destroy', charitychildren, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <%end%>
  </tbody>
</table>

<br>

<%= link_to 'New Charitychild', new_charitychild_path %>
